<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySocMinorLabel" jhiTranslate="barbicanApp.socMinor.home.createOrEditLabel">Create or edit a Soc Minor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!socMinor.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="socMinor.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socMinor.socMinorName" for="field_socMinorName">Soc Minor Name</label>
            <input type="text" class="form-control" name="socMinorName" id="field_socMinorName"
                [(ngModel)]="socMinor.socMinorName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socMinor.socMinorCode" for="field_socMinorCode">Soc Minor Code</label>
            <input type="text" class="form-control" name="socMinorCode" id="field_socMinorCode"
                [(ngModel)]="socMinor.socMinorCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socMinor.socMinorAvator" for="field_socMinorAvator">Soc Minor Avator</label>
            <div>
                <img [src]="'data:' + socMinor.socMinorAvatorContentType + ';base64,' + socMinor.socMinorAvator" style="max-height: 100px;" *ngIf="socMinor.socMinorAvator" alt="socMinor image"/>
                <div *ngIf="socMinor.socMinorAvator" class="form-text text-danger clearfix">
                    <span class="pull-left">{{socMinor.socMinorAvatorContentType}}, {{byteSize(socMinor.socMinorAvator)}}</span>
                    <button type="button" (click)="clearInputImage('socMinorAvator', 'socMinorAvatorContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_socMinorAvator" (change)="setFileData($event, socMinor, 'socMinorAvator', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="socMinorAvator" id="field_socMinorAvator"
                [(ngModel)]="socMinor.socMinorAvator" />
            <input type="hidden" class="form-control" name="socMinorAvatorContentType" id="field_socMinorAvatorContentType"
                [(ngModel)]="socMinor.socMinorAvatorContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socMinor.socMinorDescription" for="field_socMinorDescription">Soc Minor Description</label>
            <input type="text" class="form-control" name="socMinorDescription" id="field_socMinorDescription"
                [(ngModel)]="socMinor.socMinorDescription" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socMinor.socMinorURL" for="field_socMinorURL">Soc Minor URL</label>
            <input type="text" class="form-control" name="socMinorURL" id="field_socMinorURL"
                [(ngModel)]="socMinor.socMinorURL" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socMinor.socMinorPreviewImage" for="field_socMinorPreviewImage">Soc Minor Preview Image</label>
            <input type="text" class="form-control" name="socMinorPreviewImage" id="field_socMinorPreviewImage"
                [(ngModel)]="socMinor.socMinorPreviewImage" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socMinor.socMajor" for="field_socMajor">Soc Major</label>
            <select class="form-control" id="field_socMajor" name="socMajor" [(ngModel)]="socMinor.socMajorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="socMajorOption.id" *ngFor="let socMajorOption of socmajors; trackBy: trackSocMajorById">{{socMajorOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
