<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySocBroadLabel" jhiTranslate="barbicanApp.socBroad.home.createOrEditLabel">Create or edit a Soc Broad</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!socBroad.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="socBroad.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socBroad.socBroadName" for="field_socBroadName">Soc Broad Name</label>
            <input type="text" class="form-control" name="socBroadName" id="field_socBroadName"
                [(ngModel)]="socBroad.socBroadName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socBroad.socBroadCode" for="field_socBroadCode">Soc Broad Code</label>
            <input type="text" class="form-control" name="socBroadCode" id="field_socBroadCode"
                [(ngModel)]="socBroad.socBroadCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socBroad.socBroadAvator" for="field_socBroadAvator">Soc Broad Avator</label>
            <div>
                <img [src]="'data:' + socBroad.socBroadAvatorContentType + ';base64,' + socBroad.socBroadAvator" style="max-height: 100px;" *ngIf="socBroad.socBroadAvator" alt="socBroad image"/>
                <div *ngIf="socBroad.socBroadAvator" class="form-text text-danger clearfix">
                    <span class="pull-left">{{socBroad.socBroadAvatorContentType}}, {{byteSize(socBroad.socBroadAvator)}}</span>
                    <button type="button" (click)="clearInputImage('socBroadAvator', 'socBroadAvatorContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_socBroadAvator" (change)="setFileData($event, socBroad, 'socBroadAvator', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="socBroadAvator" id="field_socBroadAvator"
                [(ngModel)]="socBroad.socBroadAvator" />
            <input type="hidden" class="form-control" name="socBroadAvatorContentType" id="field_socBroadAvatorContentType"
                [(ngModel)]="socBroad.socBroadAvatorContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socBroad.socBroadDescription" for="field_socBroadDescription">Soc Broad Description</label>
            <input type="text" class="form-control" name="socBroadDescription" id="field_socBroadDescription"
                [(ngModel)]="socBroad.socBroadDescription" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socBroad.socBroadURL" for="field_socBroadURL">Soc Broad URL</label>
            <input type="text" class="form-control" name="socBroadURL" id="field_socBroadURL"
                [(ngModel)]="socBroad.socBroadURL" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socBroad.socBroadPreviewImage" for="field_socBroadPreviewImage">Soc Broad Preview Image</label>
            <input type="text" class="form-control" name="socBroadPreviewImage" id="field_socBroadPreviewImage"
                [(ngModel)]="socBroad.socBroadPreviewImage" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barbicanApp.socBroad.socMinor" for="field_socMinor">Soc Minor</label>
            <select class="form-control" id="field_socMinor" name="socMinor" [(ngModel)]="socBroad.socMinorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="socMinorOption.id" *ngFor="let socMinorOption of socminors; trackBy: trackSocMinorById">{{socMinorOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
